@import '../Utils/extentions.scss';


footer {
    background: $black;
    color: $white;
    @extend %container-md;
}
.footer-title {
    font-family: 'Shrikhand';
    font-weight: normal;
    font-size: 18px;
    text-transform: lowercase;
    margin-left: 2px;
    margin-bottom: 10px;
}

li {   
        margin-bottom: 10px;

        i {
            margin-right: 5px;
            font-size: 16px;
        }

    }
