@use "../Utils/mixins.scss";
@use "../Utils/variables.scss";

.bloc-card {
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    @include flex(column, normal, normal, nowrap);
    @include general-shadow;

    &__img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__body {
        padding: 10px 0px;
        @include flex(column, inherit, space-between, nowrap);
    }

    &__title {
        font-size: 18px;
        font-weight: 900;
        margin-bottom:0;
    }

    &__title h4 {
        margin:0;
        margin-top: 10px;
        margin-left: 10px;
    }

    &__city {
        font-weight: 300;
        text-transform: capitalize;
       margin:0;
       margin-left: 10px;
    }

    &__status {
        @include new;
    }
&__description{
    display: flex;
    flex-direction: row;
   
}
    &__description i{
       @include heart;
     
    }

    @media #{$medium-up} {
        flex-basis: 48%;
    }
    @media #{$large-up} {
        img{width: 100%;
        height: 200px;
       
    }}
 
}
