@use '../Utils/mixins.scss';
@use '../Utils/variables.scss';



.btn{
    border-radius: 20px 20px 20px 20px;
    color: white;
    border: none;
    width: 170px;
    height: 40px;
    @include linear-gradient(180deg, $color-secondary, $color-primary);


    &:hover {

        transition: .5s ease;
        @include linear-gradient(180deg, $color-secondary, $color-primary-light);
        opacity: 1;
    }
}
// boutton explorer//
.btn-exp{
    @extend .btn;
   
}
//boutton commander//
.btn-cmd{
    @extend .btn;
   
}