@use '../Utils/mixins.scss';
@use '../Utils/variables.scss';



.btn{
    border-radius: 20px 20px 20px 20px;
    color: white;
    border: none;
    width: 170px;
    height: 40px;
    @include gradiant(1);
      &:hover{
        background-color: $gray;
    
      
    }
}
// boutton explorer//
.btn-exp{
    @extend .btn;
   
}
//boutton commander//
.btn-cmd{
    @extend .btn;
   
}