@use '../Utils/mixins.scss';
@use '../Utils/variables.scss';


.section-resto__hearts, .section-resto__heartr {
    font-size: 2rem;
    position: absolute;
    transform: translateY(-50%);
    margin-left: 300px;
    padding-bottom: 50px;
  
}

.section-resto__hearts{
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: all 200ms ease-in-out;
    
    @include mixins.gradiant(1);
&:hover{
    opacity: 1;
}}


@keyframes meal__apear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	75% {
		transform: rotate(360deg);
		opacity: .8;
	}
	100% {
		transform: rotate(360deg);
		opacity: 0;
	}
}

@keyframes content-appear {
	0% {
		z-index: 0;
	}
	100% {
		z-index: 10000;
	}
}

@keyframes confirmation-rotate {	
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0);
	}
}