@use '../Utils/mixins.scss';
@use '../Utils/variables.scss';



.btn{
    border-radius: 20px 20px 20px 20px;
    color: white;
    border: none;
    width: 170px;
    height: 40px;
    @include gradiant(1);
    &:hover {
        background-color: $color-primary-light;
        -moz-background-color:  $color-primary-light;
      
}}

.btn-exp{
    @extend .btn;
}

.btn-cmd{
    @extend .btn;
}