@import '../Utils/variables.scss';
@import '../Utils/mixins.scss';
@import '../Utils/responsives.scss';
@import '../Utils/extentions.scss';






#content {
    position: relative;
    background-color: $gray-light;
    @media #{$large-up} {
        @include flex(column, center, space-between, nowrap)
    }
}

.section-description {
    padding: 0 0 50px;
    background-color: $gray-light;
    text-align: center;
   
    
    h1 {
        font-size: rem(24);
        font-weight: 700;
        margin-bottom: rem(20);
        padding: 0 rem(40);
    }

    &__p {
        font-size: rem(18);
        font-weight: 300;
        margin-bottom: rem(30);
        padding: 0 22px;
        align-self: center;
        white-space: normal;
    }
     input {
        height: 50px;
        width: 230px;
        display: flex;
        border: #f2f2f2 1px solid;
        font-weight: 600;
        font-size: 100%;
        appearance: none;
        background-color: $gray-medium;
        padding: 1.25rem;
      }
    
       input::placeholder {
        color: black;
        opacity: 1;
       
      }


      .map{
        display: flex;
        justify-content: center;
        padding: 1.25rem;
        background-color: $gray-medium;
        font-size: 1.2rem;
        position: relative;
        align-items: center;
        box-shadow: inset 0px 5px 5px 0px #dddddd;

      }

    @media #{$large-up} {
   

    }
}



.section-explorer {
    list-style-type: none;
   
    @media #{$medium-up} {
        
            width: 100%;
            @include flex(column, center, space-between,wrap)
        
    }

    @media #{$large-up} {
        @include flex(column, flex-start, space-between, nowrap)
    }
}

.bloc-card {
    background-color: $gray-light;
width: 100%;
   
    }

    @media #{$large-up} {

    
     
}



.section-explorer {
    list-style-type: none;
    @media #{$large-up} {
    .explorer{
        margin: 50px 50px;
       
    }
      
    }
}





.bloc-resto {
    list-style-type: none;
    background-color: $gray-light;
    @media #{$large-up} {
       display: flex;
      
       width: 100%;
       gap: 2%;
       }

       @media #{$medium-up} {
        @include flex(row, flex-end, space-between, wrap);
        width:100%;
    }
       @media #{$large-up} {
        @include flex(row, flex-end, space-between, wrap);
        width:80%;
    }
    
}


