@import '../Utils/variables.scss';
@import '../Utils/mixins.scss';
@import '../Utils/responsives.scss';
@import '../Utils/extentions.scss';






#content {
    position: relative;
}

.section-description {
    padding: 0 0 50px;
    background-color: $gray-light;
    text-align: center;
   

 
        i {
            margin-right: 15px;
        }
    
    h1 {
        font-size: rem(24);
        font-weight: 700;
        margin-bottom: rem(20);
        padding: 0 rem(40);
    }

    &__p {
        font-size: rem(18);
        font-weight: 300;
        margin-bottom: rem(30);
        padding: 0 rem(20);
    }

    @media #{$large-up} {
   

    }
}



.section-explorer {
    list-style-type: none;
   
    @media #{$medium-up} {
        
            width: 100%;
            @include flex(column, center, space-between,wrap)
        
    }
}

.bloc-card {
    background-color: $gray-light;
width: 100%;
    @media #{$medium-up} {
        &__list {   
            @include flex(row, center, space-between, wrap)
        }
    }

    @media #{$large-up} {
     
}
}


.section-explorer {
    list-style-type: none;
    background-color: $gray-light;
    @media #{$large-up} {
    
      
    }
}





.bloc-resto {
    list-style-type: none;
    background-color: $gray-light;
    
    @media #{$large-up} {
       display: flex;
      
       width: 100%;
       gap: 2%;
       }

    
}


.section-global {
   
    display: flex;
    flex-direction: row;
    @media #{$large-up} {
        
     
        
    }
  }