@import '../Utils/variables.scss';
@import '../Utils/mixins.scss';
@import '../Utils/responsives.scss';
@import '../Utils/extentions.scss';


.section-dishes{
    padding: 0;

    &__banner {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }

    &__content {
        background-color: $gray-light;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-top: - 4rem;
        position: relative;
        z-index: 2;
        @extend %container;
    }

    &__info {
        margin-bottom: 25px;
        @include flex(row, center, space-between, nowrap);
    }

    &__title {
        font-family: "Shrikhand", cursive;
        font-weight: normal;
        font-size: 28px;
        margin-bottom: 0;
    }

    &__meal {
        margin-bottom: 3px;

        @media #{$medium-up} {
            .meal__list {
                @include flex(row, stretch, space-between, wrap)
            }
        }
    }

    &__order {
        text-align: center;
        margin-bottom: 3px;
    }
}