@import 'variables.scss';

/*Mixin animation heart*/

@mixin gradiant($opacity) {
    background-color: linear-gradient(
        to top,
        rgba(147, 86, 220, $opacity),
        rgba(255, 121, 218, $opacity)
    );
}

@mixin gradiants($opacity) {
    background-image: linear-gradient(
        to top,
        rgba(147, 86, 220, $opacity),
        rgba(255, 121, 218, $opacity)
    );
}
    @mixin general-shadow {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    }

    @mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
        display: flex;
        flex-direction: $flex-direction;
        align-items: $align-items;
        justify-content: $justify-content;
        flex-wrap: $flex-wrap;
    }

    @mixin hover-shadow {
        box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    }
    
    @mixin transition-ease {
        transition: all .3s ease;
        
		-moz-transition: all .3s ease;
			
    }

    @mixin heart{
        font-size: 25px;
        position: absolute;
        right: 15px;
        bottom: 25px;
        
        
    }

    @mixin new{
        padding: 8px 12px;
        background-color: $color-tertiary;
        color: $color-tertiary-strong;
        font-size: 14px;
        position: absolute;
        top: 15px;
        right: 15px;
        @include general-shadow;
    }
    @mixin explorer{
        background: $gray-light;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    @include flex(row, center, flex-start, nowrap);
    @include general-shadow;
    @include transition-ease;
    
    }
    
    @mixin linear-gradient($degree, $color1, $color2) {
        background: linear-gradient($degree, $color1 0%, $color2 100%);
    }
   