@import 'variables.scss';



%container-sm {
padding: 10px;

@media #{$large-up} {
    padding: 10px 4px;
}

@media #{$xlarge-up} {
    padding: 10px 8px;
}
}

%container-md {
padding: 20px;

@media #{$large-up} {
    padding: 25px 4px;
}

@media #{$xlarge-up} {
    padding: 30px 8px;
}
}

%container {
padding: 50px 20px;

@media #{$large-up} {
    padding: 4px
}

@media #{$xlarge-up} {
    padding: 4px 8px;
}
}
